# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Other files
*.exe
*.stash
*.autosave
Makefile
Makefile.Debug
Makefile.Release
*_plugin_import.cpp

# Folders
release/
debug/
