# Folders
release/
debug/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Build/Qt files
Makefile*
ui_*.h
*_plugin_import.cpp
*.stash
*.autosave

# Other files
*.exe
*.rc
*.lnk
*.zip
*.conf
*.user
