# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Folders
release/
debug/

# Other files
Makefile
Makefile.Debug
Makefile.Release
ui_*.h
*_plugin_import.cpp
*.pro.user
*.exe
*.stash
*.autosave
*.rc
*.lnk
*.zip
